/*
 ***************
 * for all
 ***************
*/
a {
    text-decoration: none;
}

/*
 ***************
 * header
 ***************
*/
header {
    background: #ccc;
    overflow: hidden;
}

header a {
    color: white;
}

header .title {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 10px 10px 5px #888888;
    float: left;
}

header .title:hover{
    color: black;
}

header .log_in_out a {
    font-size: 20px;
    text-align: center;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
}

/*
 ***************
 * menu
 ***************
*/
.menu {
    margin-top: 20px;
}

.menu li {
    list-style-type: none;
    display: inline;
}

.menu a {
    font-size: 15px;
    color: black;
    text-align: center;
}

.menu a:hover {
    font-weight: bold;
}

/*
 ***************
 * .write
 ***************
*/
.write {
    border: 1px solid #ccc;
}

.write dd:nth-child(2) input {
    width: 100%;
}

.write textarea {
    width: 100%;
    height: 500px;
    resize: none;
}

.write #submit {
    float: right;
    margin-top: 5px;
}
/*
 ***************
 * content
 ***************
*/
.article p{
    white-space: pre-wrap;
}
/*
 ***************
 * left_side_bar
 ***************
*/
.left_side_bar li {
    list-style-type: none;
    margin-left: 0px;
}
.left_side_bar img {
    width: 140px;
}
/*
 ***************
 * footer
 ***************
 */
